<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
<title>WEB DESIGN LAB</title>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/bootstrap/js/modal.js"></script>
<script src="/static/bootstrap/js/transition.js"></script>
<script src="/static/js/test.js"></script>

<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    {%  block head %}{% endblock %}


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Phone Appli</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
          	<li class="{{ top }}"><a href="/dx/top/">端末管理</a></li>
            <li class="{{ member }}"><a href="/dx/member/">連絡先管理</a></li>
            <li class="{{ room }}"><a href="/dx/room/">ルーム管理</a></li>
            <li class="{{ folder }}"><a href="/dx/folder/">電話帳管理</a></li>
            <li><a href="#">お気に入り管理</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
 </nav>

{% block content %}{% endblock %}

</body>
</html>