<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/dx/common_dx80.css">
	<link rel="stylesheet" href="/static/dx/key_board.css" />

	<script src="/static/dx/lib/jquery_2.1.7.js"></script>
	<script src="/static/dx/lib/jquery.mobile.events.js"></script>

	<script src="/static/dx/js/common.js"></script>

	<title>Document</title>
</head>
<body>

<div id="all_wrap">
	<nav>
		<menu>
			<li class="cologo">
				<img src="/static/dx/logo_cisco_blue.png" height="60px" alt="">
			</li>
			<li>
				<div class="menu_li home active" for="home">
					<a href="/dx/index/">識別ID管理</a>
				</div>
			</li>
			<li>
				<div class="menu_li home" for="home">
					<a href="/dx/home/">ホーム管理</a>
				</div>
			</li>
			<li>
				<div class="menu_li list" for="list">
					<a href="/dx/list/">電話帳</a>
				</div>
			</li>
			<li>
				<div class="menu_li fav" for="list">
					<a href="/dx/fav/">お気に入り</a>
				</div>
			</li>
			<li>
				<div class="menu_li history" for="history">
					<a href="/dx/history/">履歴</a>
				</div>
			</li>
			<li>
				<div class="menu_li key" for="key">
					<a href="/dx/key/">キーパッド</a>
				</div>
			</li>
		</menu>
	</nav>

	<div>
		<article class="swiper-container">
			<section class="swiper-wrapper">

				<div class="swiper-slide active" id="home_slide">
					<div id="home_sc">
						<h2>
							ご希望の相談内容を選択してください。
						</h2>
						<div id="homemenu">
							<ul>
								<li>
									<span>ローン相続</span>
								</li>
								<li>
									<span>相続相談</span>
								</li>
								<li>
									<span>融資相談</span>
								</li>
								<li>
									<span>その他</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</section>
		</article>
	</div>
</div>





<input type="checkbox" id="is_loading"/>
<!--
<label id="load_switch" for="is_loading"></label>
-->
<article id="loader_page">
	<section id="loader">

		<div id="loading_animation">
			<div>
			</div>
		</div>

		<div id="message"></div>
	</section>
</article>

</body>
</html>